@import url("https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,200;0,300;0,600;0,700;1,300 & display=swap");
.botoness {
  padding: 10px;
  border: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.botoness {
  background-color: rgb(229, 194, 194);
  color: rgb(255, 255, 255);
}

.boton {
  padding: 9px;
  border-radius: 5px;
  background-color: rgb(244, 211, 211);
  color: rgb(0, 0, 0);
}

.boton__nav {
  padding-left: 50px;
}

.formulario {
  padding-top: 60px;
}

.color__botones {
  background-color: rgb(234, 247, 200);
}

.grillaIndex {
  background-color: rgb(248, 247, 240);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ecf1f7;
}

.navbar {
  background-color: rgb(254, 245, 245);
  display: flex;
  justify-content: space-between;
  height: 70px;
}
.navbar .colorDefondo2 {
  background-color: rgb(254, 245, 245);
  display: flex;
  justify-content: center;
}
.navbar .colorDefondo2 .colorDefondo {
  border-radius: 75%;
  background-color: rgb(254, 245, 245);
  display: flex;
  justify-content: center;
  height: 70px;
}

.contenedor__menu {
  display: flex;
  justify-content: center;
}
.contenedor__menu .color__contenedoru {
  background-color: rgb(247, 214, 214);
  color: rgb(0, 0, 0);
  width: 900px;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
  border-radius: 70px;
}
.contenedor__menu .color__contenedoru:hover {
  background-color: #4a5455;
}
.contenedor__menu .color__contenedoru .color__texto {
  list-style-type: none;
  color: rgb(221, 218, 255);
  text-decoration: none;
}

.banner__paginas {
  width: 100%;
  height: 700px;
  background-image: url(../img/fashionable-pale-brunette-long-green-dress-black-jacket-sunglasses-standing-street-during-daytime-against-wall-light-city-building.jpg);
  background-size: cover;
  background-position: top;
}

.color__fondo {
  background-color: #ceb6fa;
}

div .novedades {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.container .row {
  margin-top: 70px;
}
.container .row .cards {
  display: flex;
  justify-content: center;
}
.container .row .cards .card {
  display: flex;
  width: 300px;
  background-color: transparent;
  border: none;
}
.container .row .cards .card .botones {
  display: flex;
  justify-content: center;
}

footer {
  background-color: rgb(73, 74, 73);
  padding-bottom: 8px;
  color: rgb(255, 255, 255);
  padding-bottom: 15px;
}

footer a {
  color: rgb(255, 255, 255);
}

footer .padding1 {
  margin-left: 5px;
  margin-right: 5px;
}

.text-aling i {
  margin-left: 8px;
  margin-top: 20px;
}

.focus-in-contract {
  -webkit-animation: focus-in-contract 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
          animation: focus-in-contract 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
  text-align: center;
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
body {
  font-family: "Righteous", cursive;
  background-color: #cbddf8;
}

.mr-auto {
  display: flex;
  align-items: center;
}

.color__texto {
  color: rgb(0, 0, 0);
}

.novedades {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.bg-warning {
  display: flex;
  width: auto;
  height: 70px;
}

.mr-auto {
  display: flex;
  align-items: center;
}

.parrafo {
  padding: 7.9rem 0;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
}

.borde__header {
  height: 120px;
}

.color__texto {
  color: #000000;
  list-style-type: none;
}/*# sourceMappingURL=styles.css.map */