div{
    .novedades{
        display: flex;
    justify-content: center;
    margin-top: 60px; 


    }
}
.container{
    .row{

        margin-top: 70px;
        .cards{  
            display: flex;
            justify-content: center;
     
             .card{  
                display: flex;
                width: 300px;
                background-color: transparent;
                border: none;
                .botones{
                    display: flex;
                    justify-content: center;
                }
             }
        }

      }
    
}