footer {
    background-color: rgb(73, 74, 73);
    padding-bottom: 8px;
    color: $color-footer;
    padding-bottom: 15px;
  }
  
  footer a {
    color: $color-footer;
  }
  
  footer .padding1 {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .text-aling i {
    margin-left: 8px;
    margin-top: 20px;
  }